node_modules
# Keep environment variables out of version control
.env

/generated/prisma

# Database
*.db
*.sqlite

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db
dist/
